@import url("https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;700&display=swap");
:root {
  --first-color: #0C0C0E;
  --second-color: #000;
  --third-color: #BB945F;
  --fourth-color: #fff;
  --fifth-color: #8E8E8E;
  /*========== Font  ==========*/
  --body-font: "Inter", sans-serif;
  --second-font: "Forum";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*REUSABLE CSS CLASSES*/
.container {
  max-width: 1440px;
  margin: 0px auto;
}

section:not(:first-child) {
  padding: 20px 20px 40px 20px;
}

section:nth-child(3) {
  padding: 15px 20px 40px 20px;
}

/*GENERAL CLASSES*/
body {
  font-family: var(--body-font);
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--first-color);
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
  padding: 0 1.25rem;
}

div > h1 {
  color: #FFF;
  font-family: var(--second-font);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.header__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

.header__nav_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation__link {
  color: var(--fourth-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__item:last-child {
  margin: 0 40px 0 0;
}

.header__img > img {
  width: 28px;
}

/*WELCOME*/
.welcome__back {
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0C0C0E), color-stop(0.01%, #0C0C0E), to(rgba(18, 18, 21, 0.1))), url(../images/Welcome.png);
  background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%), url(../images/Welcome.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 220px 0 195px 0;
}

.welcome__title {
  color: var(--fourth-color);
  text-align: center;
  font-family: var(--second-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 520px;
}

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #0C0C0E;
}

/*ABOUT*/
.section__title {
  color: #0C0C0E;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  font-family: var(--second-font);
  position: relative;
  padding: 0 0 21px 0;
}
.section__title::after {
  content: "";
  width: 50px;
  height: 1px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--first-color);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-52%);
          transform: translateX(-52%);
  bottom: 0;
}

.about__text {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.image__hidden {
  display: none;
}

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.round__circles {
  padding: 30.5px 0 0 0;
}

.round__circles > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__circle__cover {
  width: 26px;
  height: 26px;
  padding: 5px;
  background-color: var(--fourth-color);
  cursor: pointer;
  border: none;
  outline: none;
}

.button__circle {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--first-color);
  border: none;
  outline: none;
}

.button__circle_active {
  background: #BB945F;
}

.button__circle:hover,
.button__circle:active,
.button__circle:focus {
  background: #BB945F;
}

/*FAVORITES*/
.favorites__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 87px;
     -moz-column-gap: 87px;
          column-gap: 87px;
  margin: 0 0 35px 0;
}

label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 9px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 0 0 0 5px;
}

.favorites__subtitle {
  color: #000;
  text-align: start;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 35px;
}

.custom__input {
  display: none;
}

.check__style {
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  margin: 5px 5px 5px -5px;
  border-radius: 50%;
  border: 2px solid var(--second-color);
}

.check__style::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background: var(--second-color);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  font-weight: 700;
}

.text__input {
  position: relative;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
}

.custom__input:checked + .check__style::before {
  opacity: 1;
}

.custom__input:checked ~ .text__input {
  font-weight: 700;
}

.favorites__books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -110px;
}

.favorite__books_half {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 110px;
  margin: 0 0 40px 0;
  height: 100%;
}

.favorite__books_half:nth-child(4n-1),
.favorite__books_half:nth-child(4n) {
  margin-bottom: 0;
}

.favorites__wrapper_description {
  padding: 13px 0 13px 19px;
  border: 1px solid black;
  position: relative;
  max-width: 550px;
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description__image {
  position: absolute;
  bottom: -5px;
  right: -41px;
}

.favorites__bg_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description__subtitle {
  font-family: var(--second-font);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.description__subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--third-color);
}

.description__title {
  color: #000;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description__title > span {
  color: #000;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.description__text {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  max-width: 355px;
  margin-bottom: auto;
}

.description__button {
  display: inline-block;
  width: 74px;
  color: var(--first-color);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 9px 27px;
  background-color: var(--fourth-color);
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2px;
}

.invisible {
  display: none;
}

.shop__text {
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 200% */
  letter-spacing: 0.125rem;
  text-transform: lowercase;
  margin-bottom: 40px;
}

.shop__text-letter {
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 200% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.shop__menu-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 480px;
     -moz-column-gap: 480px;
          column-gap: 480px;
}

.shop__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  row-gap: 40px;
}

.menu__title {
  color: var(--third-color);
  font-family: var(--second-font);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 100% */
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dish {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.menu__border {
  display: inline-block;
  width: 100px;
  height: 1px;
  background: #BB945F;
}

.menu__price {
  font-size: 1.25rem;
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.contacts__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__personal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.info__list {
  margin: 40px 0;
}

.info__items:not(:last-child) {
  margin-bottom: 20px;
}

.info__items {
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.info__items a {
  color: var(--second-color);
}

.info__owner {
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.info__owner > a {
  font-weight: 700;
  color: var(--second-color);
}

.library__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__searching__title {
  font-size: 1.875rem;
  letter-spacing: 0.6px;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.card__searching__bg {
  border: 3px solid var(--third-color);
  background: var(--fourth-color);
  padding: 17px 17px 27px 17px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user__info {
  background-color: var(--third-color);
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

.user__info__title {
  font-family: var(--second-font);
  font-size: 1.875rem;
  line-height: 3.125rem;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.user__info-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user__info-input {
  width: 520px;
  height: 66px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 13px 0 4px;
}

.user__info-input::-webkit-input-placeholder {
  color: var(--fifth-color);
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.user__info-input::-moz-placeholder {
  color: var(--fifth-color);
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.user__info-input:-ms-input-placeholder {
  color: var(--fifth-color);
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.user__info-input::-ms-input-placeholder {
  color: var(--fifth-color);
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.user__info-input::placeholder {
  color: var(--fifth-color);
  font-family: var(--second-font);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.user__info-button {
  text-align: center;
}

.user__info-button > button {
  color: var(--first-color);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0625em;
  border-radius: 2px;
  border: 1px solid var(--first-color);
  background-color: var(--fourth-color);
  padding: 10px 40px 9px 40px;
  cursor: pointer;
}

.card__getting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 35px;
}

.card__getting__text {
  text-align: right;
  font-size: 1.25rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  max-width: 456px;
}

.card__getting__title {
  font-family: var(--second-font);
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0.02em;
}